<section class="section--center">
  <div class="card-container">
    <div class="demo-card-image mdl-card mdl-shadow--2dp card-need" ng-click="home.vm.need()">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="demo-card-image__text">I Need</span>
      </div>
    </div>
    <div class="demo-card-image mdl-card mdl-shadow--2dp card-have" ng-click="home.vm.have()">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="demo-card-image__text">I Have</span>
      </div>
    </div>
    <div class="demo-card-image mdl-card mdl-shadow--2dp card-have" ng-click="home.vm.have()">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="demo-card-image__text">I Have</span>
      </div>
    </div>
    <div class="demo-card-image mdl-card mdl-shadow--2dp card-have" ng-click="home.vm.have()">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="demo-card-image__text">I Have</span>
      </div>
    </div>
  </div>
</section>
