<section class="section--center">
  <div class="card-container">
    <div class="demo-card-image mdl-card mdl-shadow--2dp card-category" ng-repeat="item in have.vm.items"
         ng-class="item.icon" ng-style="have.vm.iconPath(item)" ng-click="have.vm.toggleDonation(item)">
      <div class="check" ng-show="item.amount > 0"></div>
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="demo-card-image__text">{{item.name}}</span>
      </div>
    </div>
  </div>
</section>
