<section class="section--center form-container">
  <div class="demo-card-image mdl-card mdl-shadow--2dp card-logo"></div>
  <h4 ng-show="confirmation.vm.donations.length > 0">You can donate</h4>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" ng-show="confirmation.vm.donations.length > 0">
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Resource</th>
      <!--<th>Quantity</th>-->
      <th class="mdl-data-table__cell--non-numeric">To</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in confirmation.vm.donations" ng-click="confirmation.vm.showUser(item.userId)">
      <td class="mdl-data-table__cell--non-numeric">{{item.name}}</td>
      <!--<td>{{item.amount}} {{item.units}}</td>-->
      <td class="mdl-data-table__cell--non-numeric">{{confirmation.vm.userInfo(item.userId).username}}</td>
    </tr>
    </tbody>
  </table>
  <h4 ng-show="confirmation.vm.receptions.length > 0">You can receive</h4>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" ng-show="confirmation.vm.receptions.length > 0">
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Resource</th>
      <!--<th>Quantity</th>-->
      <th class="mdl-data-table__cell--non-numeric">From</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in confirmation.vm.receptions" ng-click="confirmation.vm.showUser(item.userId)">
      <td class="mdl-data-table__cell--non-numeric">{{item.name}}</td>
      <!--<td>{{item.amount}} {{item.units}}</td>-->
      <td class="mdl-data-table__cell--non-numeric">{{confirmation.vm.userInfo(item.userId).username}}</td>
    </tr>
    </tbody>
  </table>
</section>
