<section class="section--center form-container">
  <form ng-submit="register.vm.next(registerForm)" name="registerForm">
    <div ng-show="register.vm.stepNames[register.vm.step] === 'username'">
      <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label" for="email">Email</label>
        <input class="mdl-textfield__input" type="text" name="email" id="email"
               ng-model="register.vm.user.email"
               ng-required="register.vm.stepNames[register.vm.step] === 'username'">
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label" for="username">Username</label>
        <input class="mdl-textfield__input" type="text" name="username" id="username"
               ng-model="register.vm.user.username"
               ng-required="register.vm.stepNames[register.vm.step] === 'username'">
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label" for="password">Password</label>
        <input class="mdl-textfield__input" type="password" name="password" id="password"
               ng-model="register.vm.user.password"
               ng-required="register.vm.stepNames[register.vm.step] === 'username'">
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label" for="password-repeat">Repeat Password</label>
        <input class="mdl-textfield__input" type="password" name="password-repeat" id="password-repeat"
               ng-model="register.vm.user.passwordRepeat"
               ng-required="register.vm.stepNames[register.vm.step] === 'username'">
      </div>
      <div class="button-container">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-click="register.vm.back()"
                type="button">
          Back
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">
          Next
        </button>
      </div>
    </div>

    <div ng-show="register.vm.stepNames[register.vm.step] === 'gender'">
      <div class="card-container">
        <div class="demo-card-image mdl-card mdl-shadow--2dp card-female"
             ng-click="register.vm.selectGender('female')">
          <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="demo-card-image mdl-card mdl-shadow--2dp card-male"
             ng-click="register.vm.selectGender('female')">
          <div class="mdl-card__title mdl-card--expand"></div>
        </div>
      </div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-click="register.vm.back()"
              type="button">
        Back
      </button>
    </div>

    <div ng-show="register.vm.stepNames[register.vm.step] === 'group'">
      <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label" for="babies">Number of babies</label>
        <input class="mdl-textfield__input" type="number" name="babies" id="babies"
               ng-model="register.vm.user.babies" min="0">
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label" for="children">Number of children</label>
        <input class="mdl-textfield__input" type="number" name="children" id="children"
               ng-model="register.vm.user.children" min="0">
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label" for="adults">Number of adults</label>
        <input class="mdl-textfield__input" type="number" name="adults" id="adults"
               ng-model="register.vm.user.adults" min="0">
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label" for="elderly">Number of elderly</label>
        <input class="mdl-textfield__input" type="number" name="elderly" id="elderly"
               ng-model="register.vm.user.elderly" min="0">
      </div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-click="register.vm.back()"
              type="button">
        Back
      </button>
    </div>

    <div ng-show="register.vm.stepNames[register.vm.step] === 'location'">
      <div track-location="register.vm.user.location"></div>
      <div class="button-container">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
                ng-click="register.vm.back()" type="button">
          Back
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">
          Register
        </button>
      </div>
    </div>
  </form>
</section>
